[
  {
    "newCard": false,
    "cardId": 0,
    "templateCardId": 100011010,
    "stringAppendFields": {
      "Skill": ",skill_mirror",
      "SkillTiming": ",when_change_inplay",
      "SkillCondition": ",character=me&target=self&is_inplay=true",
      "SkillTarget": ",character=me&target=self",
      "SkillOption": ",all=false&include_self=true&ability=true",
      "SkillPreprocess": ",none"
    },
    "localizationFields": {
      "SkillDescription": "当这个随从成为法术或能力的指定目标时，使该效果对使用者的1个随机随从再生效一次。随机和群体效果不会触发。"
    }
  }
]
